<div id="<%= dom_id post %>">
  <p>
    <strong><u><%= post.title %></u></strong>
  </p>

  <p>
    <strong>Posted by:</strong> <%= post.user.name.capitalize %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.body %>
  </p>

  <p>
    <strong>Ratings:</strong>
    <%= post.rating %>
  </p>

  <p>
    <strong>Total Rating Average:</strong> nil ||
    <strong>BGG Rating:</strong> nil
  </p>
</div>